@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 1rem;
}

.button_primary {
    padding: 0.5rem 2rem;
    color: var(--very-dark-cyan);
    background-color: #fff;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 10px 10px -5px lightgray;

    font-weight: 700;
}

.button_secondary {
    padding: 0.8rem 4rem;
    color: #fff;
    background-color: var(--pink);
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 10px 10px -5px lightgray;
}

.h2_sub_header {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--very-dark-cyan);
}

/* Header contents */

.header {
    width: 100%;

    background-image: url("../images/bg-hero-mobile.svg");
    background-color: var(--very-pale-cyan);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_nav-logo {
    width: 40%;
}

.header_nav-logo img {
    width: 140px;
}

.header_content {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    line-height: 1.5;
    text-align: center;
}

.header_content-text {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.header_content-text h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.header_content-text p {
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
}

.header_content-image {
    width: 90%;
    margin: 0 auto;
}

.header_content-image img {
    width: 100%;
}


/*About Us*/
.about-us {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    width: 100%;
    padding-top: 4rem;
    padding-bottom: 10rem;

    text-align: center;
}

.card-container {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px lightgrey;

    padding: 5rem 2rem;
}

.card-image {
    width: 100%;
}

.about-us-description {
    font-size: 0.8rem;
    color: var(--grayish-blue);
}

/*Footer Section*/

footer {
    background-color: var(--very-dark-cyan);
    color: #fff;
    position: relative;
}

.ready-to-build {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem 0.5rem;
    margin: -7rem auto 4rem;
    max-width: 480px;
    box-shadow: 2px -7px 15px -7px lightgrey;    
    text-align: center;
}

.footer-logo {
    width: 180px;
    margin-bottom: 2rem;
}

.footer-logo img {
    width: 100%;
}

.location_details {
    margin-bottom: 3rem;
}

.contact {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.5rem;
}

.contact-icon {
    margin-top: 4px;
    width: 18px;
}

.bottom-links li {
    list-style: none;
    margin-bottom: 1.2rem;
}

.links {
    color: #fff;
    text-decoration: none;
}

.socials {
    display: flex;
    width: 45%;
    max-width: 160px;
    margin: 3rem auto;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0px 4px;
}

ion-icon {
    position: absolute;
    top: 20%;
    left: 23%;
    font-size: 1rem;
    color: #fff;
}

ion-icon:hover {
    color: var(--soft-magenta)
}

.copyright {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width:991px) {
    .container {
        padding: 2rem;
    }

    .header {
        background-image: url("../images/bg-hero-desktop.svg");
    }

    .header_content {
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       margin: 0;
       text-align: left;
       line-height: 1.2;
    }

    .header_content-text {
        width: 40%;
    }

    .header_content-image {
        width: 50%;
        margin: 0;
    }

    .card-container {
        padding: 2rem 2rem;
    }

    .h2_sub_header {
        margin-top: 0;
    }

    .about-us {
        text-align: left;
    }

    .flex {
        max-width: 991px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    .card-image {
        width: 40%;
    }

    .footer-details {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        max-height: 280px;
    }

    .w {
        width: 23%;
    }

    .socials {
        margin: 0;
        align-items: baseline;
    }

    .copyright {
        text-align: right;
    }
}

@media (min-width:1440px) {
    .container {
        padding: 2rem 4rem;
    }

    .header_content-text h1 {
        font-size: 2.5rem;
    }
    
    .header_content-text p {
        font-size: 1.3rem;
    }
}